*{
  /* מאתחלים  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: "Rubik",sans-serif;
  color: #444;
}

.container{
  margin: 0 auto;
  width: 1200px;
} 

header{
  height: 100vh;
  position: relative;
  background-image: url(../pictures/surfers.jpg);
  background-size: cover;
}

.container2{
width: 1200px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}

.header-container-inner{
  width: 50%;
}

h1{
  font-size: 52;
  margin-bottom: 32px;
  line-height: 1.05;


}

p{
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;

}

.btn:link,
.btn.visited{
    font-size: 20px;
    font-weight: 600;
    background-color: #5fcbef	;
    color:#fff;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 9px;
}

h2{
  font-size: 44px;
  margin-bottom: 48px;
}

section{
  padding: 96px 0;
  margin: 0 auto;
  background-color: #f7f7f7;
}