body{
    background: #419c91;
	line-height: 1.6;
    

}

.text{
    font-family: 'Questrial', sans-serif;
    font-size: 17px;
    color:  #111;
    padding-left: 10%;
    padding-top: 20px;
}

.img-rules{
    align-items: center;
    padding-left: 10%;
}

.text h3{
    color:  #111;
    color: rgb(255, 255, 255);
}