 body{
    background-color:#6eafa7;
    
}
 
.paragraph{
    padding-top: 20px;
    font-size: 15px;
    line-height: 1.6;
    border-radius: 20px;
}

.column{
    padding-top: 50px ;
}

.links{
    padding-top: 110px;
    padding-left: 10%;
    align-items: center;
    color: black;
    border: 2px;
    border-color: aqua;
}

 
